body{
    color: white;
    padding: 5rem 1rem;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9YYh5Fk1u9VsWWr1MhkyQeOzeNbtnnMO96g&s");
    background-repeat: no-repeat;
    background-size: cover;
}